body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.navbar{
    font-family: Montserrat;
    background-color: #009688;
    height: 30%;
}

.card{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border-color: #CCA814;
}

.btn{
    border: solid 1px;
}

.navbar-brand{
    font-size: 100;
}
